@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap");
body {
  background: -webkit-linear-gradient(-180deg, rgb(17, 24, 39), rgb(0, 0, 0));
  background: linear-gradient(-180deg, rgb(17, 24, 39), rgb(0, 0, 0));
  color: #fff;
  font-family: sans-serif;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.accent {
  color: #0061BA;
}

.footer-main {
  padding: 10vw;
}

.footer-copyright {
  text-align: center;
  color: #fff;
  margin-bottom: 2vh;
  font-family: "Heebo";
  letter-spacing: 0.2rem;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  font-family: "Heebo";
  letter-spacing: 0.1rem;
}

.footer-link-git {
  list-style: none;
}
.footer-link-git a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .footer-main {
    padding: 3vw;
    font-size: 1.1rem;
    padding-bottom: 1vh;
  }
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  font: inherit;
}

header {
  padding: 5% 5% 2% 5%;
  font-family: "Heebo", sans-serif;
  font-size: 2vw;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.117);
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo-header {
  width: 25vw;
  height: 6vw;
}

.ul-nav1 {
  display: none;
}

.ul-nav2 {
  display: none;
}

#menu {
  cursor: pointer;
  flex-direction: end;
}

.ul-nav1.menumobile, .ul-nav2.menumobile {
  display: block;
  list-style: none;
  text-align: center;
}
.ul-nav1.menumobile li, .ul-nav2.menumobile li {
  padding: 0.5rem;
}
.ul-nav1.menumobile a, .ul-nav2.menumobile a {
  text-decoration: none;
  color: white;
}

.cart-header {
  height: 1rem;
}

@media screen and (min-width: 1280px) {
  header {
    padding: 3% 3% 1% 3%;
    font-family: "Heebo", sans-serif;
  }
  nav {
    color: white;
    display: flex;
    justify-content: space-between;
  }
  .logo-header {
    width: 12vw;
    height: 3vw;
  }
  .ul-nav1 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 25vw;
    font-size: 1.5vw;
  }
  .ul-nav2 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 8vw;
    font-size: 1.5vw;
  }
  .cart-header {
    width: 3vw;
  }
  #menu {
    display: none;
  }
}
.hero {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}
.hero > div {
  width: 50%;
}
.hero .hero__heading {
  text-transform: uppercase;
  font-size: clamp(1.5625rem, 0.3521rem + 5.1643vw, 5rem);
}
.hero .hero__btn {
  background: linear-gradient(90deg, #49A8FF 0%, #007CEE 100%);
  border: none;
  color: #fff;
  font-size: 0.5625rem;
  padding: 0.5em 0.8em;
  font-weight: 600;
  font-size: clamp(0.5625rem, 0.3362rem + 0.9655vw, 1rem);
  margin-top: 1em;
}

.marketing {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.marketing .shoe {
  width: 30%;
}
.marketing h2 {
  width: 60%;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 160%;
  line-height: 100%;
  color: white;
}
.marketing h2 span {
  color: #2462ea;
}
.marketing .baseline_marketing {
  width: 70%;
  padding-top: 2%;
  font-family: "Heebo", sans-serif;
  color: white;
  font-size: 100%;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .marketing .shoe {
    width: 25%;
  }
  .marketing h2 {
    width: 50%;
    font-size: 400%;
    line-height: 100%;
  }
  .marketing .baseline_marketing {
    width: 55%;
    font-size: 150%;
    font-weight: 300;
  }
}
.form-container {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  max-width: 500px;
  padding: 32px 20px;
  position: relative;
  width: 89%;
}

.form-header-heading {
  font-size: clamp(26px, 2vw, 36px);
  margin-bottom: 23px;
}

/* || Form Rules */
.form-control input,
.form-control textarea {
  background-color: #ededed;
  border: none;
  padding: 9px 16px;
  width: 100%;
}

/* For the floating label to work with email input */
.form-control input[type=email]::placeholder {
  opacity: 0;
}

.form-control {
  position: relative;
}

.form-control + .form-control {
  margin-top: 20px;
}

.form-control label {
  background: transparent;
  position: absolute;
  left: 16px;
  top: 9px;
  transition: transform 150ms ease-in, font-size 150ms ease-in;
}

.form-control textarea {
  min-height: 80px;
}

/* || Label animation */
.form-control .form-input[type=text]:focus + label,
.form-control .form-input[type=number]:focus + label,
.form-control .form-input[type=text]:valid + label,
.form-control .form-input[type=number]:valid + label,
.form-control .form-input[type=number]:out-of-range + label {
  transform: translate(-17px, -25px);
  background-color: #fff;
  padding: 4px;
  font-size: 12px;
}

.form-control label[for=country] {
  position: static;
  margin-right: 1em;
}

.form-control input[type=email]:not(:placeholder-shown) + label {
  transform: translate(-17px, -25px);
  background-color: #fff;
  padding: 4px;
  font-size: 12px;
}

.form-control select {
  background: #ededed;
  border: none;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.form-control .form-input:out-of-range {
  outline-color: red;
}

.checkout-submit-btn {
  background-color: #0061BA;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-top: 23px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 800;
}

.main-opinions {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.article-opinions {
  text-align: center;
}

.img-opinions {
  width: 10rem;
  max-width: 10rem;
  border-radius: 50%;
}

.name-opinions {
  color: #fff;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.desc-opinions {
  color: #fff;
  font-family: "Barlow";
  max-width: 20rem;
  margin: 0 auto 2.5rem auto;
}

@media screen and (min-width: 60rem) {
  .main-opinions {
    flex-direction: row;
    gap: 10rem;
    margin-bottom: 7vh;
  }
}
.card-main {
  background-color: #fff;
  border-radius: 0.6rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  color: #000;
}

.card-name {
  font-weight: bold;
  font-family: "Heebo";
}

.card-title {
  padding-top: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: "Heebo";
}
.card-title span {
  color: blue;
}

.basket-main {
  display: flex;
  justify-content: space-between;
}

.info-card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-price {
  text-align: center;
  font-weight: bold;
  font-family: "Heebo";
}

.card-img {
  height: 10rem;
}

.card-btn {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #49A8FF 0%, #007CEE 100%);
  padding: 1rem;
  border: none;
  font-weight: bold;
  font-family: "Heebo";
  text-decoration: none;
}

.total-price {
  font-weight: bold;
  font-family: "Heebo";
}

.card-delete {
  height: 1.2rem;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .card-main {
    margin: 10rem;
  }
  .card-title {
    padding-top: 5%;
  }
}
.products-section {
  width: 90%;
  max-width: 90rem;
  margin: 5rem auto;
}

.latest-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.product-card {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
  padding: 0.8em;
  flex-basis: 15rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  transition: transform 500ms ease-in-out;
}
.product-card > div {
  grid-column: span 2;
}
.product-card:hover {
  transform: scale(1.1);
}
.product-card .product-image {
  justify-self: center;
  grid-column: span 4;
  width: 10rem;
}
.product-card .product-name {
  font-weight: 600;
}
.product-card .product-price {
  color: rgb(126, 126, 126);
}
.product-card .add-to-cart-btn {
  background-color: #0061BA;
  border: none;
  color: #fff;
  padding: 0 0.5em 0 0.5em;
  border-radius: 10px;
  grid-column: 3/5;
}

/*
    Todo: Responsive header (Burger menu)
    Todo: Adjust the spacing between the header and the hero section
    Todo: Carousel
*/

/*# sourceMappingURL=main.css.map */
