@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap");
body {
  background: -webkit-linear-gradient(-180deg, rgb(17, 24, 39), rgb(0, 0, 0));
  background: linear-gradient(-180deg, rgb(17, 24, 39), rgb(0, 0, 0));
  color: #fff;
  font-family: sans-serif;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.accent {
  color: #0061BA;
}

.footer-main {
  padding: 10vw;
}

.footer-copyright {
  text-align: center;
  color: #fff;
  margin-bottom: 2vh;
  font-family: "Heebo";
  letter-spacing: 0.2rem;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  font-family: "Heebo";
  letter-spacing: 0.1rem;
}

.footer-link-git {
  list-style: none;
}
.footer-link-git a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .footer-main {
    padding: 3vw;
    font-size: 1.1rem;
    padding-bottom: 1vh;
  }
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  font: inherit;
}

.hero {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 68.75rem;
  margin: 0 auto;
}
.hero > div {
  width: 50%;
}
.hero .hero__heading {
  text-transform: uppercase;
  font-size: clamp(1.5625rem, 0.431rem + 4.8276vw, 3.75rem);
}
.hero .hero__btn {
  background: linear-gradient(90deg, #49A8FF 0%, #007CEE 100%);
  border: none;
  color: #fff;
  font-size: 0.5625rem;
  padding: 0.5em 0.8em;
  font-weight: 600;
  font-size: clamp(0.5625rem, 0.3362rem + 0.9655vw, 1rem);
  margin-top: 1em;
}

.marketing {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.marketing .shoe {
  width: 30%;
}
.marketing h2 {
  width: 60%;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 160%;
  line-height: 100%;
  color: white;
}
.marketing h2 span {
  color: #2462ea;
}
.marketing .baseline_marketing {
  width: 70%;
  padding-top: 2%;
  font-family: "Heebo", sans-serif;
  color: white;
  font-size: 50%;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .marketing .shoe {
    width: 25%;
  }
  .marketing h2 {
    width: 50%;
    font-size: 400%;
    line-height: 100%;
  }
  .marketing .baseline_marketing {
    width: 55%;
    font-size: 100%;
    font-weight: 300;
  }
}
.form-container {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  max-width: 500px;
  padding: 32px 20px;
  position: relative;
  width: 89%;
}

.form-header-heading {
  font-size: clamp(26px, 2vw, 36px);
  margin-bottom: 23px;
}

/* || Form Rules */
.form-control input,
.form-control textarea {
  background-color: #ededed;
  border: none;
  padding: 9px 16px;
  width: 100%;
}

/* For the floating label to work with email input */
.form-control input[type=email]::placeholder {
  opacity: 0;
}

.form-control {
  position: relative;
}

.form-control + .form-control {
  margin-top: 20px;
}

.form-control label {
  background: transparent;
  position: absolute;
  left: 16px;
  top: 9px;
  transition: transform 150ms ease-in, font-size 150ms ease-in;
}

.form-control textarea {
  min-height: 80px;
}

/* || Label animation */
.form-control .form-input[type=text]:focus + label,
.form-control .form-input[type=number]:focus + label,
.form-control .form-input[type=text]:valid + label,
.form-control .form-input[type=number]:valid + label,
.form-control .form-input[type=number]:out-of-range + label {
  transform: translate(-17px, -25px);
  background-color: #fff;
  padding: 4px;
  font-size: 12px;
}

.form-control label[for=country] {
  position: static;
  margin-right: 1em;
}

.form-control input[type=email]:not(:placeholder-shown) + label {
  transform: translate(-17px, -25px);
  background-color: #fff;
  padding: 4px;
  font-size: 12px;
}

.form-control select {
  background: #ededed;
  border: none;
  padding: 0.2em 0.5em;
  cursor: pointer;
}

.form-control .form-input:out-of-range {
  outline-color: red;
}

.checkout-submit-btn {
  background-color: #0061BA;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  margin-top: 23px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 800;
}

.main-opinions {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.article-opinions {
  text-align: center;
}

.img-opinions {
  width: 10rem;
  max-width: 10rem;
  border-radius: 50%;
}

.name-opinions {
  color: #fff;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.desc-opinions {
  color: #fff;
  font-family: "Barlow";
  max-width: 20rem;
  margin: 0 auto 2.5rem auto;
}

@media screen and (min-width: 60rem) {
  .main-opinions {
    flex-direction: row;
    gap: 10rem;
    margin-bottom: 7vh;
  }
}

/*# sourceMappingURL=main.css.map */
