.footer-main{
    margin-bottom:3em;
    margin-top: 3em;
}

.footer-copyright{
    text-align: center;
    color: #fff;
    margin-bottom: 2vh;
    font-family: 'Heebo';
    letter-spacing: 0.2rem;


}

.footer-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    font-family: 'Heebo';
    letter-spacing: 0.1rem;

}

.footer-link-git{
    list-style: none;
    

    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            color:#2462ea;
        }
    }
    img{
        &:hover{
            color:#2462ea;
        }
    }
}

@media screen and (min-width: 1280px) {
    .footer-main{
        padding: 3vw;
        font-size: 1.1rem;
        padding-bottom: 1vh;
    }
}