header {
    padding: 5% 5% 2% 5%;
    font-family: 'Heebo', sans-serif;
    font-size: 2vw;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.117);
}
nav {
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo-header {
    width: 25vw;
    height:6vw;
}

.ul-nav1 {
    display: none;
}
.ul-nav2 {
    display: none;
}

@media screen and (min-width: 1280px) {

header {
    padding: 3% 3% 1% 3%;
    font-family: 'Heebo', sans-serif;
}
nav {
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo-header {
    width: 12vw;
    height:3vw;
}
.ul-nav1 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 25vw;
    font-size: 1.5vw;
}
.ul-nav2 {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 8vw;
    font-size: 1.5vw;
}
.cart-header {
    width: 3vw;
}
}