@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap');

.marketing{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .shoe{
        width: 30%;
    }
    h2{
        width: 60%;
        font-family: 'Heebo', sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 160%;
        line-height: 100%;
        color: white;
        span{
            color: #2462ea;
        }
    }
    .baseline_marketing{
        width: 70%;
        padding-top: 2%;
        font-family: 'Heebo', sans-serif;
        color: white;
        font-size: 100%;
        text-align: center;
    }
}
@media screen and (min-width: 1280px) {
    .marketing{
        .shoe{
            width: 25%;
        }
        h2{
            width: 50%;
            font-size: 400%;
            line-height: 100%;
        }
        .baseline_marketing{
            width: 55%;
            font-size: 150%;
            font-weight: 300;
        }
    }
}